div {
    background-color: #A5D6D9;
    padding: 5px;
    border-radius: 5px;
    margin: 10px 25%;
}

div p{
    margin: 10px;
}

{
    background-color: #A5D6D9;
    padding: 5px;
    border-radius: 5px;
    margin: 10px 25%;
}